<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.realnona2"
    tools:ignore="ExtraText">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 대략적인 위치의 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.realnona2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">




        <activity
            android:name=".F_F_main_form_Activity"
            android:exported="false" />
        <activity
            android:name=".F_F_Login_form_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".F_F_SighUp_form_Activity"/>
        <activity
            android:name=".M_F_Borad_share_Activity"
            android:exported="false" />
        <activity
            android:name=".M_F_Borad_with_Activity"
            android:exported="false" />
        <activity
            android:name=".M_F_party_prod_Activity"
            android:exported="false" />
        <activity
            android:name=".test_userActivity"
            android:exported="false" />
        <activity
            android:name=".test_createparty"
            android:exported="false" />
        <activity
            android:name=".test_WithActivity"
            android:exported="false" />
        <activity
            android:name=".test_ShareActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.FragmentWith"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".test_settingdialog"
            android:exported="false" />
        <activity
            android:name=".test_settingActivity"
            android:exported="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="xaqn33xtu4"/>
    </application>

</manifest>